@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli' sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background: steelblue;
    color: #fff;
}

.container{
    /* 0.4 is the alpha value */
    background-color: rgba(0,0,0,0.4 );
    padding: 20px 40px;
    border-radius: 5px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    border: 0;
    border-radius: 5px;
    padding: 15px 0;
    font-size: 16px;
    font-family: inherit;
}

.btn:focus{
    outline: 0;
}

/* when we click LOGIN then the transform effect happen */
.btn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: lightblue;
}
.form-control{
    /* because I want to label to be absolute */
    position: relative;

    /* 20 top-bottm 0 left-rigth 40 bottom */
    margin: 20px 0 40px ;
    width: 300px;
}


/* input transparent */
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    color: #fff;
}

/* jo mera outline border box aa rha tha usko yeh 0 kr dega */
.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

/* jo humlog JavaScript mein span banye hai na wahi used kr rhe hai, then we applying transition delay */
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;

    /* cubic-bezier defines a curve and we can use it transition effect with a variable speed from start to end, and the variable assigned it the variable speed on the transition. So if you click input side then we see the bounce effect  */
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* we want direct label span for transition */
.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;

    /* when we click on the email it will goes up */
    transform: translateY(-30px);
}