@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato' 'sans-serif';
    /* 2 color ko ek saath milata hai in the staright line */
    background-image: linear-gradient(90deg, #ABC270, #FEC868, #FEC868);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

    /* The overflow CSS shorthand property sets the desired behavior for an element's overflow — i.e. when an element's content is too big to fit in its block formatting context — in both directions. */
    overflow: hidden;
    margin: 0;
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    /* jab search bar ko click krenge to mera width aa jayega 0.s delay k sath */
    transition: width 0.3s;
}
.btn{
    background-color:#fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    /* when we click search logo to search the input it to expand the width we have the transition for that up here, the button we want to push over. So the input gets wider, the button gets pushed over. transform(It modifies the coordinate space of the CSS) */
    transition: transform 0.3s ease; 
}

/* Button and input (target)focus wilol be none */
.btn:focus,
.input:focus{
    outline: none;
}

/* when we seach anything the width will be 200px */
.search.active .input{
    width: 200px;
}

.search.active .btn{
    /* We want to move it along the X-axis, We want to move it to the right so we can use translate X */
    transform: translateX(198px);
}

