@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #F9EBC8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;

}

h1{
    margin: 10px;
    color: #472D2D solid;
    text-align: center;
    
}

.box{
    background-color: #472D2D;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: #F9EBC8;

    /* And then for the animation, we're going to use the transition property with translate X, because that's what we want to do, is move these along the X axis(right) and Y (bottom comes)  */
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

/* i actually want every other box to come from different sides when we scroll it. */
/* here, nth-of-type is pseudo selector,a nd we can select all the even elements, all the even boxes */

.box:nth-last-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    /* 0 is by default(koi changes nhi hoga)  */
    transform: translateX(0);
}

.box h2{
    font-size: 40px;

}